*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  min-width: 320px;
  margin: 0;
}

img,
svg {
  display: block;
  max-width: 100%;
}

button,
input,
textarea,
select {
  font: inherit;
}
